
version: "3.8"

services:
  mqtt:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    ports:
      - "1883:1883"
    volumes:
      - ./mqtt/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto_data:/mosquitto/data
    restart: unless-stopped

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: plantydb
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    restart: unless-stopped

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  backend:
    build: ./backend
    container_name: django-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"

  mqtt_client:
    build: ./backend
    container_name: django-mqtt-client
    command: python manage.py mqtt_client
    volumes:
      - ./backend:/app
    depends_on:
      - mqtt
      - postgres
    restart: unless-stopped
    environment:
      - DJANGO_DB_HOST=postgres
      - DJANGO_DB_NAME=plantydb
      - DJANGO_DB_USER=user
      - DJANGO_DB_PASSWORD=password

volumes:
  mosquitto_data:

  postgres_data: