.quickview-container {
  margin-left: 260px;
  padding: 32px 0 0 0;
}
.quickview-title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 32px;
}
.quickview-plant {
  margin-bottom: 32px;
}
.quickview-plant-name {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 4px;
}
.quickview-plant-data {
  font-size: 18px;
  margin-left: 8px;
}
